<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">COVID 19 Map</span>

    <div ngbRadioGroup
         class="btn-group btn-group-toggle"
         name="radioBasic"
         [(ngModel)]="radioModel">

      <label ngbButtonLabel class="btn-outline-warning">
        <input ngbButton type="radio" [value]="1">
        Total cases
      </label>

      <label ngbButtonLabel class="btn-outline-danger">
        <input ngbButton type="radio" [value]="2">
        Reanimation
      </label>

      <label ngbButtonLabel class="btn-outline-success">
        <input ngbButton type="radio" [value]="3">
        Recovered
      </label>

      <label ngbButtonLabel class="btn-outline-secondary">
        <input ngbButton type="radio" [value]="4">
        Dead
      </label>

    </div>

  </nav>
  <br>
  <p>{{radioModel}}</p>
</div>

