<div ngbRadioGroup
     name="radioSeason"
     class="btn-group btn-group-toggle"
     [ngModel]="seasonState | async">

  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" (click)="onClick(winterEnum)" [value]="winterEnum">Winter
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" (click)="onClick(springEnum)" [value]="springEnum">Spring
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" (click)="onClick(summerEnum)" [value]="summerEnum">Summer
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" (click)="onClick(autumnEnum)" [value]="autumnEnum">Autumn
  </label>

</div>
<div>It's {{phraseState | async}} because you like {{seasonState | async}}</div>
