<h1>Posts page</h1>

<button
  [queryParams]="{showIds: true}"
  [routerLink]="['/posts']"
  class="btn"
  fragment="template-fragment"
>
  Show Ids
</button>
<button
  (click)="showIdsProgram()"
  class="btn"
>
  Show Ids (program)
</button>

<div *ngFor="let post of postsService.posts" class="card">
  <h4>
    <a [routerLink]="['/posts', post.id]">
      <strong *ngIf="showIds">(ID {{post.id}})</strong>
      {{post.title}}
    </a>
  </h4>
</div>
