<h1 i18n>
  Localization Demo in Angular using i18n
</h1>

<h3 i18n="@@myName">
  Hello, My name is Ankit
</h3>
<p>This text will remain same in all languages</p>
<hr/>

<ng-container *ngFor="let language of languageList">

  <a href="/{{language.code}}/">
    <button class="button">{{language.label}}</button>
  </a>

</ng-container>
