<form [formGroup]="dateTimeForm">
  <mat-form-field>
    <input matInput
           formControlName="dateTimeCtrl"
           [ngxMatDatetimePicker]="picker"
           placeholder="Choose a date & time"
    >
    <!--[defaultValue]="defaultDateTime"-->

    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>

    <ngx-mat-datetime-picker #picker
                             [showSpinners]="true"
                             [showSeconds]="false"
                             [disableMinute]="false"
                             [touchUi]="false"
                             [stepHour]="1"
                             [stepMinute]="1"
    >
    </ngx-mat-datetime-picker>
  </mat-form-field>
</form>
