<!--<span class="form-inline">-->
<!--    <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">-->
<!--    <option *ngFor="let language of translate.getLangs()" [value]="language"-->
<!--            [selected]="language === translate.currentLang">-->
<!--    {{ language }}-->
<!--    </option>-->
<!--    </select>-->
<!--    </span>-->

<div ngbDropdown class="d-inline-block">
  <button class="btn" id="dropdownLang" ngbDropdownToggle style="color: whitesmoke">
    <fa-icon [icon]="faLanguage" size="lg"></fa-icon>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownLang">

    <!--<button ngbDropdownItem-->
    <!--*ngFor="let lang of translate.getLangs()"-->
    <!--[value]="lang"-->
    <!--#selectedLang-->
    <!--(click)="switchLang(selectedLang.value)">{{selectedLang.value}}</button>-->

    <button ngbDropdownItem
            *ngFor="let lang of store.languagePack"
            [value]="lang"
            (click)="switchLang(lang.lang)">{{ 'Language.' + lang.name | translate}}</button>

  </div>
</div>
