<nav class="navbar">
  <h1>Angular Modules</h1>

  <ul>
    <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a routerLink="/">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/about">About</a></li>
  </ul>
</nav>

<div class="container">
  <div class="card">

    <router-outlet></router-outlet>

  </div>
</div>



